<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Taming Thymeleaf</title>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <link href="https://rsms.me/inter/inter.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/application.css}">
</head>
<body>
<div @keydown.window.escape="closeSidebar"
     class="h-screen flex overflow-hidden bg-gray-100"
     x-data="sidebarMenu()">

  <div th:replace="fragments/sidebar-menu :: mobile"></div>
  <div th:replace="fragments/sidebar-menu :: desktop"></div>

  <div class="flex flex-col w-0 flex-1 overflow-hidden">
    <div th:replace="fragments/top-menu :: menu"></div>
    <main class="flex-1 relative z-0 overflow-y-auto py-6 focus:outline-none"
          tabindex="0">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
        <h1 class="text-2xl font-semibold text-gray-900">Dashboard</h1>
      </div>
      <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
        <div class="py-4">
          <div class="border-4 border-dashed border-gray-200 rounded-lg h-96">
            <div>There is some content here.</div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<script defer src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.3.5/dist/alpine.js"></script>
<script th:src="@{/js/user-popup-menu.js}"></script>
</body>
</html>
