<!DOCTYPE html>
<html ng-app="orderApp">
<head>
  <title>Order Application</title>
</head>
<body ng-controller="customersController">
<h1>Customers</h1>
Filter: <input type="text" ng-model="customerFilter.name"/>
<br/>
<table>
  <thead>
    <tr>
      <th ng-click="doSort('name')">Name</th>
      <th ng-click="doSort('city')">City</th>
      <th ng-click="doSort('orderTotal')">Order Total</th>
      <th ng-click="doSort('joined')">Joined</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="customer in customers | filter:customerFilter | orderBy:sortBy:reverse">
      <td>{{ customer.name }}</td>
      <td>{{ customer.city }}</td>
      <td>{{ customer.orderTotal | currency }}</td>
      <td>{{ customer.joined | date }}</td>
    </tr>
  </tbody>
  <br/>
  <span>Total customers: {{ customers.length }}</span>
</table>
</body>
</html>
