<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Spring Boot Thymeleaf Hello World Example</title>
</head>

<body>
<main role="main" class="container">
  <div class="starter-template">
    <h1 id="message">Spring Boot Web Thymeleaf Example</h1>
    <h2>
      <span th:text="'Hello, ' + ${message}"></span>
    </h2>
    <form action="#" th:action="@{/public/index}" modelAttribute="order" th:object="${order}" method="POST">
      <div class="div">
        <h5>Amount</h5>
        <input type="text" class="input" th:field="*{amountValue}">
      </div>

      <input type="submit" class="btn" value="Process Payment">
    </form>
  </div>
</main>

</body>
</html>
