#footer {
    position: running(footer);
    text-align: right;
}

body {
    background-color: gainsboro;
}

page[size="A4"] {
    background: white;
    width: 21cm;
    height: 29.7cm;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

#pagenumber:before {
    content: counter(page);
}

#pagecount:before {
    content: counter(pages);
}